@font-face {
  font-family:"raleway-black";
  src: url("../fonts/Raleway-Black.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"raleway-bold";
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"raleway-black-italic";
  src: url("../fonts/Raleway-BlackItalic.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"raleway-bold-italic";
  src: url("../fonts/Raleway-BoldItalic.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"raleway-extrabold";
  src: url("../fonts/Raleway-ExtraBold.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"raleway-extrabold-italic";
  src: url("../fonts/Raleway-ExtraBoldItalic.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"raleway-extralight";
  src: url("../fonts/Raleway-ExtraLight.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"raleway-extralight-italick";
  src: url("../fonts/Raleway-ExtraLightItalic.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"raleway-italic";
  src: url("../fonts/Raleway-Italic.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"raleway-light";
  src: url("../fonts/Raleway-Light.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"raleway-light-italic";
  src: url("../fonts/Raleway-LightItalic.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"raleway-medium";
  src: url("../fonts/Raleway-Medium.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"raleway-medium-italic";
  src: url("../fonts/Raleway-MediumItalic.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"raleway-regulat";
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"raleway-semibold";
  src: url("../fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"raleway-semibold-italic";
  src: url("../fonts/Raleway-SemiBoldItalic.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"raleway-thin";
  src: url("../fonts/Raleway-Thin.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"raleway-thin-italic";
  src: url("../fonts/Raleway-ThinItalic.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"roboto-medium";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"TGA";
  src: url("../fonts/tex-gyre-adventor.bold.otf") format("truetype");
  font-weight:normal;
  font-style:normal;
}