header {
  .main-bg {
    background: url("../img/jpeg/main-bg.jpg") no-repeat;
    height: 610px;
    color: #fff;
    div {
      display: inline-block;
      font: normal 14px "raleway-bold";
    }
    .entry-menu {
      ul {
        list-style: none;
        li {
          display: inline-block;
          a {
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }
    .select-block {
      select {
        background: none;
        border: none;
        outline: none;
        option {
          background-color: #afcdcf;
          border: none;
          color: black;
        }
        option:hover {
          background-color: #2dc86c;
        }
      }
    }
    .site-info {
      span {
        margin-left: 5px;
        display: inline-block;
      }
      &__home {
        font: normal 14px "raleway-light";
        span {
          background: url("../img/png/home-green.png") no-repeat;
          width: 17px;
          height: 16px;
        }
      }
      &__people {
        font: normal 14px "raleway-light";
        span {
          background: url("../img/png/people-green.png") no-repeat;
          width: 16px;
          height: 13px;
        }
      }
    }
    .liked {
      div {
        font: normal 14px "raleway-light";
      }
      span {
        background: url("../img/png/hearth-green.png") no-repeat;
        width: 17px;
        height: 16px;
        margin-left: 5px;
        display: inline-block;
        cursor: pointer;
      }
    }
    .add-obj {
      a {
        color: #19d565;
        text-decoration: none;
      }
    }
  }
}