//= template/head.html

<header>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-bg">
                <div class="logo">
                    <a href=""><img src="img/png/logo-green.png" alt="сайт компании RENT first hand"></a>
                </div>
                <div class="entry-menu">
                    <ul>
                        <li><a href="">ПОМОЩЬ</a></li>
                        <li><a href="">ВХОД</a></li>
                        <li><a href="">РЕГИСТРАЦИЯ</a></li>
                    </ul>
                </div>
                <div class="select-block">
                    <select name="currency" id="currency" class="select-block__currency">
                        <option value="">EUR</option>
                        <option value="">USD</option>
                        <option value="">RUB</option>
                    </select>
                    <select name="language" id="language" class="select-block__language">
                        <option value="">UA</option>
                        <option value="">EN</option>
                        <option value="">RU</option>
                    </select>
                </div>
                <div class="site-info">
                    <div class="site-info__home">890 <span></span></div>
                    <div class="site-info__people">23890<span></span></div>
                </div>
                <div class="liked">
                    <div>2<span></span></div>
                </div>
                <div class="add-obj">
                    <a href="">ДОБАВИТЬ ОБЬЕКТ</a>
                </div>
            </div>
        </div>
    </div>
</header>


//= template/footer.html


